body {
  font-size: 28px;
  background-image: url("bg1.jpg");
  margin-top:100px;
}

/*nav bar*/
.menu{
  background-color: #49474D;
  position: sticky;
}
.menu .mainmenu{
  overflow: hidden;
  margin-left: 25%;
  margin-right: 14%;
}
.menu .mainmenu ul{
  margin: 0;
  padding: 0;
}
.menu .mainmenu ul li{
  float: left;
  list-style: none;
  transition: 1s;
}
.menu .mainmenu ul li a{
  text-decoration: none;
  display: block;
  padding: 14.1px 18.5px;
  color: #E6E2DE;
  transition: 1s;
}
.menu .mainmenu ul li:hover{
  background-color: #002746;
  color: #901247;
}
.menu .mainmenu ul li a:hover{
  color: #EB6309;
}

.active:active {
  background-color: #4CAF50;
}
/*nav bar end*/

div h2{
	text-align: center;
	font-style: italic;
  font-size: 50px;
  text-shadow: 1px 1px 2px white, 0 0 25px green, 0 0 5px darkgreen;
}



div h4{
  font-style: italic;
  background-color: #D0D3D4;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}
.homebutton {
  
  margin-top: 90px;
  padding: 25px 80px;
  font-size: 80px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.homebutton:hover {background-color: #3e8e41}

.homebutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.homebutton2 {
  display: inline-block;
  padding: 25px 80px;
  font-size: 80px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.homebutton2:hover {background-color: #3e8e41}

.homebutton2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/*form*/
/* Full-width input fields */
input[type=text],input[type=date], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password], input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}



.signupbtn, .signinbtn {
  padding: 14px 20px;
  background-color: gray;
  float: left;
  width: 50%;
}

.signinbtn2{
  padding: 14px 20px;
  background-color: gray;
  width: 100%;
}

.signupbtn:hover {background-color: #525252}

.signinbtn:hover {background-color: #525252}

.signinbtn2:hover {background-color: #525252}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*form end*/


h1 {

    text-align: center;
}

p{

	font-size: 20px;
}
.box {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;

  padding: 50px;
  margin: 20px;
  text-align: left;
  font-size: 20px;
  }




input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}




.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  height: 150px; 
  width: 150px;
  border-radius: 50%;
}

/*
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}*/